Source: eodinga
Section: utils
Priority: optional
Maintainer: Cheol-H-Jeong
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2

Package: eodinga
Version: @@APP_VERSION@@
Architecture: @@TARGET_ARCH@@
Depends: python3 (>= 3.11)
Description: Everything-class instant file search for Windows and Linux
